In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\USER\\Desktop\\UDEMY\\Python for Data Science and Machine Learning Bootcamp\\Machine Learning\\Deep Learning\\DATA\\lending_club_info.csv')

In [53]:
df

             LoanStatNew                                        Description
0              loan_amnt  The listed amount of the loan applied for by t...
1                   term  The number of payments on the loan. Values are...
2               int_rate                          Interest Rate on the loan
3            installment  The monthly payment owed by the borrower if th...
4                  grade                             LC assigned loan grade
5              sub_grade                          LC assigned loan subgrade
6              emp_title  The job title supplied by the Borrower when ap...
7             emp_length  Employment length in years. Possible values ar...
8         home_ownership  The home ownership status provided by the borr...
9             annual_inc  The self-reported annual income provided by th...
10   verification_status  Indicates if income was verified by LC, not ve...
11               issue_d                The month which the loan was funded
12           loan_status                         Current status of the loan
13               purpose  A category provided by the borrower for the lo...
14                 title            The loan title provided by the borrower
15              zip_code  The first 3 numbers of the zip code provided b...
16            addr_state  The state provided by the borrower in the loan...
17                   dti  A ratio calculated using the borrower’s total ...
18      earliest_cr_line  The month the borrower's earliest reported cre...
19              open_acc  The number of open credit lines in the borrowe...
20               pub_rec                Number of derogatory public records
21             revol_bal                     Total credit revolving balance
22            revol_util  Revolving line utilization rate, or the amount...
23             total_acc  The total number of credit lines currently in ...
24   initial_list_status  The initial listing status of the loan. Possib...
25      application_type  Indicates whether the loan is an individual ap...
26              mort_acc                       Number of mortgage accounts.
27  pub_rec_bankruptcies               Number of public record bankruptcies

In [4]:
df.iloc[22]['Description']

'Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.'

In [5]:
data_info = pd.read_csv('C:\\Users\\USER\\Desktop\\UDEMY\\Python for Data Science and Machine Learning Bootcamp\\Machine Learning\\Deep Learning\\DATA\\lending_club_info.csv',
                
                index_col = 'LoanStatNew')

In [6]:
data_info

                                                            Description
LoanStatNew
loan_amnt             The listed amount of the loan applied for by t...
term                  The number of payments on the loan. Values are...
int_rate                                      Interest Rate on the loan
installment           The monthly payment owed by the borrower if th...
grade                                            LC assigned loan grade
sub_grade                                     LC assigned loan subgrade
emp_title             The job title supplied by the Borrower when ap...
emp_length            Employment length in years. Possible values ar...
home_ownership        The home ownership status provided by the borr...
annual_inc            The self-reported annual income provided by th...
verification_status   Indicates if income was verified by LC, not ve...
issue_d                             The month which the loan was funded
loan_status                                  Current status of the loan
purpose               A category provided by the borrower for the lo...
title                           The loan title provided by the borrower
zip_code              The first 3 numbers of the zip code provided b...
addr_state            The state provided by the borrower in the loan...
dti                   A ratio calculated using the borrower’s total ...
earliest_cr_line      The month the borrower's earliest reported cre...
open_acc              The number of open credit lines in the borrowe...
pub_rec                             Number of derogatory public records
revol_bal                                Total credit revolving balance
revol_util            Revolving line utilization rate, or the amount...
total_acc             The total number of credit lines currently in ...
initial_list_status   The initial listing status of the loan. Possib...
application_type      Indicates whether the loan is an individual ap...
mort_acc                                   Number of mortgage accounts.
pub_rec_bankruptcies               Number of public record bankruptcies

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, loan_amnt to pub_rec_bankruptcies
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  28 non-null     object
dtypes: object(1)
memory usage: 448.0+ bytes

In [7]:
data_info.loc['revol_util']['Description']

'Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.'

In [8]:
def feat_info(row_name):
    print(data_info.loc[row_name]['Description'])

In [9]:
feat_info('mort_acc')

Number of mortgage accounts.

In [10]:
feat_info('issue_d')

The month which the loan was funded

In [74]:
df = pd.read_csv('C:\\Users\\USER\\Desktop\\UDEMY\\Python for Data Science and Machine Learning Bootcamp\\Machine Learning\\Deep Learning\\DATA\\lending_club_loan_two.csv')

In [75]:
df.head(2)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36 months,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000.0,...,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\nMendozaberg, OK 22690"
1,8000.0,36 months,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000.0,...,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\nLoganmouth, SD 05113"

In [76]:
df['term'][:3]

0     36 months
1     36 months
2     36 months
Name: term, dtype: object

In [71]:
df['term'].iloc[0][:3]

' 36'

In [77]:
df['term'].value_counts()

 36 months    302005
 60 months     94025
Name: term, dtype: int64

In [79]:
df['term'].apply(lambda term: term[:3])

#here the dtype is object

0          36
1          36
2          36
3          36
4          60
         ...
396025     60
396026     36
396027     36
396028     60
396029     36
Name: term, Length: 396030, dtype: object

In [80]:
df['term'].apply(lambda term: int(term[:3]))

#here the dtype is integer

0         36
1         36
2         36
3         36
4         60
          ..
396025    60
396026    36
396027    36
396028    60
396029    36
Name: term, Length: 396030, dtype: int64

In [81]:
# df['term'] = df['term'].str.strip().map({'36 months' : 36, '60 months' : 60})

df['term'] = df['term'].apply(lambda term: int(term[:3]))

In [82]:
df.head(2)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000.0,...,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\nMendozaberg, OK 22690"
1,8000.0,36,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000.0,...,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\nLoganmouth, SD 05113"

In [66]:
df.head(2)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000.0,...,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\nMendozaberg, OK 22690"
1,8000.0,36,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000.0,...,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\nLoganmouth, SD 05113"

In [83]:
df['address']

0              0174 Michelle Gateway\nMendozaberg, OK 22690
1           1076 Carney Fort Apt. 347\nLoganmouth, SD 05113
2           87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113
3                     823 Reid Ford\nDelacruzside, MA 00813
4                      679 Luna Roads\nGreggshire, VA 11650
                                ...
396025       12951 Williams Crossing\nJohnnyville, DC 30723
396026    0114 Fowler Field Suite 028\nRachelborough, LA...
396027     953 Matthew Points Suite 414\nReedfort, NY 70466
396028    7843 Blake Freeway Apt. 229\nNew Michael, FL 2...
396029          787 Michelle Causeway\nBriannaton, AR 48052
Name: address, Length: 396030, dtype: object

In [93]:
df['address'][-5:]

396025       12951 Williams Crossing\nJohnnyville, DC 30723
396026    0114 Fowler Field Suite 028\nRachelborough, LA...
396027     953 Matthew Points Suite 414\nReedfort, NY 70466
396028    7843 Blake Freeway Apt. 229\nNew Michael, FL 2...
396029          787 Michelle Causeway\nBriannaton, AR 48052
Name: address, dtype: object

In [ ]:
df['address'][-:]

In [92]:
df['address'].apply(lambda address: address[-5])

0                 0174 Michelle Gateway\nMendozaberg, OK
1              1076 Carney Fort Apt. 347\nLoganmouth, SD
2              87025 Mark Dale Apt. 269\nNew Sabrina, WV
3                        823 Reid Ford\nDelacruzside, MA
4                         679 Luna Roads\nGreggshire, VA
                               ...
396025          12951 Williams Crossing\nJohnnyville, DC
396026    0114 Fowler Field Suite 028\nRachelborough, LA
396027        953 Matthew Points Suite 414\nReedfort, NY
396028      7843 Blake Freeway Apt. 229\nNew Michael, FL
396029             787 Michelle Causeway\nBriannaton, AR
Name: address, Length: 396030, dtype: object

In [ ]:
df['address'].apply(lambda address: address[